<%- include('partials/header', {pageTitle:'Enter DPCI'}) %>
<h1 class="text-center">Reading Container/Repack Barcode Numbers</h1>
<p class="text-center"><a href="/">Back to Search</a></p>
<div class="container">
  <p>If you're having a hard time understanding how to read repack/container numbers, this page will attempt to explain it better for you.</p>
</div>
<%- include('partials/footer') %>