<%- include('partials/header', {pageTitle:'Help Result'}) %>
<h1 class="text-center">Help Result Page</h1>
<p class="text-center"><a href="/">Back to Search</a></p>
<div class="container">
  <p>Your DPCI: <%=dpci%></p>
</div>
<%- include('partials/footer') %>